{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    <div class="{{ particle.class|e }}">
        {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}

        <div class="g-contenttabs">
            <div id="g-contenttabs-{{ id }}" class="g-contenttabs-container">
                <ul class="g-contenttabs-tab-wrapper-container">

                    {% for item in particle.items %}
                        <li class="g-contenttabs-tab-wrapper">
                            <span id="mytabs-{{ id }}-{{ loop.index }}" class="g-contenttabs-tab-wrapper-head" >
				





							
                                <a class="g-contenttabs-tab" href="#g-contenttabs-item-{{ id }}-{{ loop.index }}">
								<svg class="spisok"width="22" height="28" viewBox="0 0 22 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.66665 20.6665C5.40294 20.6665 5.14515 20.7447 4.92589 20.8912C4.70662 21.0377 4.53572 21.246 4.43481 21.4896C4.33389 21.7332 4.30749 22.0013 4.35893 22.26C4.41038 22.5186 4.53737 22.7562 4.72384 22.9426C4.91031 23.1291 5.14788 23.2561 5.40653 23.3076C5.66517 23.359 5.93326 23.3326 6.17689 23.2317C6.42053 23.1308 6.62876 22.9599 6.77527 22.7406C6.92178 22.5213 6.99998 22.2635 6.99998 21.9998C6.99998 21.6462 6.8595 21.3071 6.60945 21.057C6.35941 20.807 6.02027 20.6665 5.66665 20.6665V20.6665ZM5.66665 12.6665C5.40294 12.6665 5.14515 12.7447 4.92589 12.8912C4.70662 13.0377 4.53572 13.246 4.43481 13.4896C4.33389 13.7332 4.30749 14.0013 4.35893 14.26C4.41038 14.5186 4.53737 14.7562 4.72384 14.9426C4.91031 15.1291 5.14788 15.2561 5.40653 15.3076C5.66517 15.359 5.93326 15.3326 6.17689 15.2317C6.42053 15.1308 6.62876 14.9599 6.77527 14.7406C6.92178 14.5213 6.99998 14.2635 6.99998 13.9998C6.99998 13.6462 6.8595 13.3071 6.60945 13.057C6.35941 12.807 6.02027 12.6665 5.66665 12.6665V12.6665ZM5.66665 4.6665C5.40294 4.6665 5.14515 4.7447 4.92589 4.89121C4.70662 5.03772 4.53572 5.24596 4.43481 5.48959C4.33389 5.73323 4.30749 6.00132 4.35893 6.25996C4.41038 6.5186 4.53737 6.75618 4.72384 6.94265C4.91031 7.12912 5.14788 7.2561 5.40653 7.30755C5.66517 7.359 5.93326 7.33259 6.17689 7.23168C6.42053 7.13076 6.62876 6.95986 6.77527 6.7406C6.92178 6.52133 6.99998 6.26355 6.99998 5.99984C6.99998 5.64622 6.8595 5.30708 6.60945 5.05703C6.35941 4.80698 6.02027 4.6665 5.66665 4.6665V4.6665ZM21.6666 4.6665C21.6666 3.60564 21.2452 2.58822 20.4951 1.83808C19.7449 1.08793 18.7275 0.666504 17.6666 0.666504H4.33331C3.27245 0.666504 2.25503 1.08793 1.50489 1.83808C0.75474 2.58822 0.333313 3.60564 0.333313 4.6665V7.33317C0.339194 8.31991 0.709594 9.26965 1.37331 9.99984C0.709594 10.73 0.339194 11.6798 0.333313 12.6665V15.3332C0.339194 16.3199 0.709594 17.2697 1.37331 17.9998C0.709594 18.73 0.339194 19.6798 0.333313 20.6665V23.3332C0.333313 24.394 0.75474 25.4115 1.50489 26.1616C2.25503 26.9117 3.27245 27.3332 4.33331 27.3332H17.6666C18.7275 27.3332 19.7449 26.9117 20.4951 26.1616C21.2452 25.4115 21.6666 24.394 21.6666 23.3332V20.6665C21.6608 19.6798 21.2904 18.73 20.6266 17.9998C21.2904 17.2697 21.6608 16.3199 21.6666 15.3332V12.6665C21.6608 11.6798 21.2904 10.73 20.6266 9.99984C21.2904 9.26965 21.6608 8.31991 21.6666 7.33317V4.6665ZM19 23.3332C19 23.6868 18.8595 24.0259 18.6095 24.276C18.3594 24.526 18.0203 24.6665 17.6666 24.6665H4.33331C3.97969 24.6665 3.64055 24.526 3.3905 24.276C3.14046 24.0259 2.99998 23.6868 2.99998 23.3332V20.6665C2.99998 20.3129 3.14046 19.9737 3.3905 19.7237C3.64055 19.4736 3.97969 19.3332 4.33331 19.3332H17.6666C18.0203 19.3332 18.3594 19.4736 18.6095 19.7237C18.8595 19.9737 19 20.3129 19 20.6665V23.3332ZM19 15.3332C19 15.6868 18.8595 16.0259 18.6095 16.276C18.3594 16.526 18.0203 16.6665 17.6666 16.6665H4.33331C3.97969 16.6665 3.64055 16.526 3.3905 16.276C3.14046 16.0259 2.99998 15.6868 2.99998 15.3332V12.6665C2.99998 12.3129 3.14046 11.9737 3.3905 11.7237C3.64055 11.4736 3.97969 11.3332 4.33331 11.3332H17.6666C18.0203 11.3332 18.3594 11.4736 18.6095 11.7237C18.8595 11.9737 19 12.3129 19 12.6665V15.3332ZM19 7.33317C19 7.68679 18.8595 8.02593 18.6095 8.27598C18.3594 8.52603 18.0203 8.6665 17.6666 8.6665H4.33331C3.97969 8.6665 3.64055 8.52603 3.3905 8.27598C3.14046 8.02593 2.99998 7.68679 2.99998 7.33317V4.6665C2.99998 4.31288 3.14046 3.97374 3.3905 3.7237C3.64055 3.47365 3.97969 3.33317 4.33331 3.33317H17.6666C18.0203 3.33317 18.3594 3.47365 18.6095 3.7237C18.8595 3.97374 19 4.31288 19 4.6665V7.33317Z" fill="#F1BA2C"/>
</svg>

	
<svg class="sortgr" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.3333 15.3332H1.99996C1.64634 15.3332 1.3072 15.4736 1.05715 15.7237C0.807102 15.9737 0.666626 16.3129 0.666626 16.6665V25.9998C0.666626 26.3535 0.807102 26.6926 1.05715 26.9426C1.3072 27.1927 1.64634 27.3332 1.99996 27.3332H11.3333C11.6869 27.3332 12.0261 27.1927 12.2761 26.9426C12.5262 26.6926 12.6666 26.3535 12.6666 25.9998V16.6665C12.6666 16.3129 12.5262 15.9737 12.2761 15.7237C12.0261 15.4736 11.6869 15.3332 11.3333 15.3332ZM9.99996 24.6665H3.33329V17.9998H9.99996V24.6665ZM26 0.666504H16.6666C16.313 0.666504 15.9739 0.80698 15.7238 1.05703C15.4738 1.30708 15.3333 1.64622 15.3333 1.99984V11.3332C15.3333 11.6868 15.4738 12.0259 15.7238 12.276C15.9739 12.526 16.313 12.6665 16.6666 12.6665H26C26.3536 12.6665 26.6927 12.526 26.9428 12.276C27.1928 12.0259 27.3333 11.6868 27.3333 11.3332V1.99984C27.3333 1.64622 27.1928 1.30708 26.9428 1.05703C26.6927 0.80698 26.3536 0.666504 26 0.666504ZM24.6666 9.99984H18V3.33317H24.6666V9.99984ZM26 15.3332H16.6666C16.313 15.3332 15.9739 15.4736 15.7238 15.7237C15.4738 15.9737 15.3333 16.3129 15.3333 16.6665V25.9998C15.3333 26.3535 15.4738 26.6926 15.7238 26.9426C15.9739 27.1927 16.313 27.3332 16.6666 27.3332H26C26.3536 27.3332 26.6927 27.1927 26.9428 26.9426C27.1928 26.6926 27.3333 26.3535 27.3333 25.9998V16.6665C27.3333 16.3129 27.1928 15.9737 26.9428 15.7237C26.6927 15.4736 26.3536 15.3332 26 15.3332ZM24.6666 24.6665H18V17.9998H24.6666V24.6665ZM11.3333 0.666504H1.99996C1.64634 0.666504 1.3072 0.80698 1.05715 1.05703C0.807102 1.30708 0.666626 1.64622 0.666626 1.99984V11.3332C0.666626 11.6868 0.807102 12.0259 1.05715 12.276C1.3072 12.526 1.64634 12.6665 1.99996 12.6665H11.3333C11.6869 12.6665 12.0261 12.526 12.2761 12.276C12.5262 12.0259 12.6666 11.6868 12.6666 11.3332V1.99984C12.6666 1.64622 12.5262 1.30708 12.2761 1.05703C12.0261 0.80698 11.6869 0.666504 11.3333 0.666504ZM9.99996 9.99984H3.33329V3.33317H9.99996V9.99984Z" fill="#F1BA2C"/>
</svg>
                                    <span class="g-contenttabs-tab-title">{{ item.title|raw }}</span>
                                </a>
                            </span>
                        </li>
                    {% endfor %}

                </ul>

                <div class="clearfix"></div>

                <ul class="g-contenttabs-content-wrapper-container">

                    {% for item in particle.items %}
                        <li class="g-contenttabs-tab-wrapper">
                            <div class="g-contenttabs-tab-wrapper-body">
                                <div id="g-contenttabs-item-{{ id }}-{{ loop.index }}" class="g-contenttabs-content">
                                    {{ item.content|raw }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {% do gantry.load('jquery') %}
    <script src="{{ url('gantry-theme://js/juitabs.js') }}"></script>
{% endblock %}

{% block javascript_footer %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#g-contenttabs-{{ id }}').tabs({
                show: {
                    {% if particle.animation == 'up' or particle.animation == 'down' or particle.animation == 'left' or particle.animation == 'right' %}
                    effect: 'slide',
                    direction: '{{ particle.animation }}',
                    {% else %}
                    effect: '{{ particle.animation|default('slide') }}',
                    {% endif %}
                    duration: 500
                }
            });
        });
    </script>
{% endblock %}
